<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Portfolio Personal Argentina Programa</h1>
            <p>Es un proyecto realizado en Argentina Programa con Java, Angular con TypeScript, base de datos MySQL. En el mismo se sube la experiencia laboral personal y las habilidades.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Proyecto.png" alt="Proyecto 1" class="img-fluid img-proyecto">
        </div>
    </div>
</div>